<template>
    <v-app>
        <vue-headful :title="account.username"/>
        <v-container>
            <div>

                <v-btn primary outline @click="logout()">
                    Logout
                </v-btn>
            </div>
            <v-card>
                <v-divider></v-divider>

                <v-card-text>
                    <v-container
                            style="max-height: 700px"
                            class="scroll-y white"
                    >
                        <v-layout
                                v-scroll
                                column
                                align-start
                                justify-end
                        >
                            <v-flex v-for="message in messages">
                                <Message :message="message"/>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-text-field
                            v-model="message"
                            label="Write message..."
                            single-line
                            outline
                    ></v-text-field>
                    <v-btn class="mx-2 mb-4" fab dark small color="primary" @click="sendMessage(message)">
                        <v-icon dark>fas fa-paper-plane</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-container>
    </v-app>
</template>

<script>
    import Message from "../messages/Message";
    import VueCookies from 'vue-cookies'

    export default {
        name: "Profile",
        components: {Message},
        data() {
            return {
                message: '',
                client: null,
                // messages: []
            }
        },

        computed: {
            account() {
                return this.$store.state.account.account
            },
            messages() {
                return this.$store.state.account.messages
            }
        },

        mounted() {
            VueCookies.set('AUTH', localStorage.getItem('access_token'));
            this.connect();
            this.fetchMessages();
        },

        methods: {
            connect() {
                const socket = new WebSocket('ws://localhost:9000/chat');
                socket.onopen = () => {
                    this.client = socket;
                };
                socket.onmessage = ({data}) => {
                    console.log(data)

                    this.$store.commit('addMessage', JSON.parse(data));
                    console.log(this.messages)
                };
            },

            fetchMessages() {
                return this.$store.dispatch("fetchMessages")
            },
            sendMessage() {
                this.client.send(JSON.stringify({'from': localStorage.getItem('access_token'), 'text': this.message}));
            },

            logout() {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/signIn');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
