<template>
    <v-app class="sign-in">
        <vue-headful title="Sign in"/>
        <v-container>
            <v-layout align-center justify-center fill-height>
                <SignInForm :auth-details="authDetails" :error-message="errorMessage" :sign-in="signIn" />
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    import SignInForm from "./SignInForm";

    export default {
        name: "SignIn",
        components: {SignInForm},

        data: () => ({
            authDetails: {
                username: null,
                password: null
            },
            errorMessage: null
        }),

        methods: {
            signIn() {
                this.$store.dispatch('login', this.authDetails)
                    .then(response => {
                        this.$router.push('/profile');
                    })
                    .catch(error => {
                        this.errorMessage = error.response.data['error_description'];
                        console.log(error.response);
                    });
            }
        }
    }
</script>

<style scoped>
    .sign-in {
        background: center fixed url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    }
</style>
