<template>
    <v-app>
        <vue-headful title="Messages"/>
        <MainToolbar/>
        <v-content>
            <v-layout row class="dialog">
                <v-flex xs12 md8 offset-md2 lg6 offset-lg3 xl4 offset-xl4>
                    <Dialog v-if="this.$route.query.id" class="mt-2 "></Dialog>
                    <MessagePreviewContainer v-else class="mt-2" :messages="messages"/>
                </v-flex>
            </v-layout>
        </v-content>
        <BottomNavigation/>
    </v-app>
</template>

<script>
    import BottomNavigation from "../common/BottomNavigation";
    import MainToolbar from "../common/MainToolbar";
    import MessagePreviewContainer from "./MessagePreviewContainer";
    import Dialog from "./Dialog";

    export default {
        name: "Dialogs",
        components: {Dialog, MessagePreviewContainer, MainToolbar, BottomNavigation},

        data() {
            return {
                messages: [
                    {
                        id: 1,
                        avatar: "https://cdn.vuetifyjs.com/images/lists/1.jpg",
                        title: "Samat",
                        subtitle: "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
                    },
                    {divider: true, inset: true},
                    {
                        id: 3,
                        avatar: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
                        title: "Samat",
                        subtitle: "Wish I could come, but I'm out of town this weekend."
                    },
                    {divider: true, inset: true},
                    {
                        id: 2,
                        avatar: "https://cdn.vuetifyjs.com/images/lists/3.jpg",
                        title: "Samat",
                        subtitle: "Do you have Paris recommendations? Have you ever been?"
                    }
                ]
            };
        }
    };
</script>

<style scoped>
    .dialog {
        padding-bottom: 100px;
    }
</style>
