<template>
    <v-card>
        <v-toolbar card prominent>
            <v-btn fab dark small color="primary" to="/messages">
                <v-icon dark>fas fa-chevron-left</v-icon>
            </v-btn>
            <v-layout align-center justify-center row>
                <v-flex shrink>
                    <span class="title">{{dialog.companion.firstName}} {{dialog.companion.lastName}}</span>
                </v-flex>
            </v-layout>

            <v-spacer></v-spacer>

            <v-btn icon>
                <v-icon>more_horiz</v-icon>
            </v-btn>

            <v-avatar size="32px">
                <img
                        :src="dialog.companion.avatar"
                        :alt="dialog.companion.firstName"
                >
            </v-avatar>
        </v-toolbar>
        <v-divider></v-divider>

        <v-card-text>
            <v-container
                    style="max-height: 700px"
                    class="scroll-y white"
            >
                <v-layout
                        v-scroll
                        column
                        align-start
                        justify-end
                >
                    <v-flex>
                        <div v-for="i in 10">
                            <div v-for="message in dialog.messages">
                                <Message :message="message"/>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions>
            <v-text-field
                    label="Write message..."
                    single-line
                    outline
            ></v-text-field>
        </v-card-actions>
    </v-card>
</template>

<script>
    import Message from "./Message";

    export default {
        name: "Dialog",
        components: {Message},
        data: () => {
            return {
                dialog: {
                    companion: {
                        id: 2,
                        firstName: "Ilmir",
                        lastName: "Shagabiev",
                        avatar: "https://sun7-7.userapi.com/c844618/v844618730/20818d/ly0e3Kwiwj8.jpg?ava=1",
                        lastVisit: "",
                    },
                    messages: [
                        {
                            text: "Hello, wussup?", date: "6:30 pm", author:
                                {
                                    id: 2,
                                    firstName: "Ilmir",
                                    avatar: "https://sun7-7.userapi.com/c844618/v844618730/20818d/ly0e3Kwiwj8.jpg?ava=1",
                                    lastVisit: "",
                                }
                        },
                    ]
                }
            };
        }
    };
</script>

<style scoped>

</style>