<template>
    <v-app class="sign-up">
        <vue-headful title="Sign up"/>
        <v-container>
            <v-layout align-center justify-center fill-height>
                <SignUpForm
                    :error-message="errorMessage"
                    :sign-up-details="signUpDetails"
                    :sign-up="signUp"
                />
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    import SignUpForm from "./SignUpForm";

    export default {
        name: "SignUp",
        components: {SignUpForm},

        data: () => ({
            signUpDetails: {
                username: null,
                password: null
            },
            errorMessage: null,
            validationMessages: []
        }),

        methods: {
            signUp() {
                this.$store.dispatch('signUp', this.signUpDetails)
                    .then(() => {
                        this.$router.push('/signIn');
                    })
                    .catch(error => {
                        this.errorMessage = error.response.data.message
                    });
            },
        }
    }
</script>

<style scoped>
    .sign-up {
        background: center no-repeat url("http://all4desktop.com/data_images/original/4238112-background.jpg");
    }
</style>
