<template>
    <v-form>
        <v-card>
            <v-card-text>
                <div class="headline text-xs-center">Sign up</div>
                <div v-if="errorMessage">
                    <v-alert
                            :value="true"
                            color="error"
                            icon="warning"
                            outline
                    >
                    <span class="subheading">
                        {{errorMessage}}
                    </span>
                    </v-alert>
                </div>
                <v-layout column>
                    <v-flex mr-2>
                        <v-text-field
                                v-model="signUpDetails.username"
                                label="Username"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-text-field
                                v-model="signUpDetails.password"
                                label="Password"
                                type="password"
                                required
                        ></v-text-field>
                    </v-flex>
                </v-layout>

            </v-card-text>
            <v-card-actions>
                <span class="mr-3 ml-2 text-xs-center body-2">
                    <span class="blue-grey--text">Already have an account?</span>
                    <router-link to="/signIn"> Sign in!</router-link>
                </span>
                <v-spacer/>
                <v-btn @click="signUp()" color="primary">
                    Sign up
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</template>

<script>
    export default {
        name: "SignUpForm",
        props: {
            signUpDetails: Object,
            signUp: Function,
            errorMessage: String
        }
    };
</script>

<style scoped>

</style>
