<template>
    <v-toolbar dark>
        <v-toolbar-side-icon></v-toolbar-side-icon>
        <v-toolbar-title class="white--text">Blurry</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn to="/signIn" flat>
                <span class="ml-1">Sign in</span>
            </v-btn>
            <v-btn to="/signUp" outline>
                Create Account
            </v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
    export default {
        name: "NavigationBar"
    };
</script>

<style scoped>

</style>
