<template>
    <v-content>
    <v-parallax
            dark
            height="800"
            src="https://i.pinimg.com/originals/dc/93/e8/dc93e87ab19232f7e12afe9944b6e515.jpg"
    >
        <v-layout
                align-center
                column
                justify-center
        >
            <h1 class="display-2 font-weight-thin mb-3">Blurry</h1>
            <h4 class="subheading">Join or we will kill u!</h4>
        </v-layout>
    </v-parallax>
    </v-content>
</template>

<script>
    export default {
        name: "ParallaxContainer"
    };
</script>

<style scoped>

</style>
